h2#title {
  margin-bottom: 40px;
}

.frameworks {
  display: flex;
  align-items: center;
}

.react {
  color: #3492d1;
}

.typescript {
  color: rgb(49, 134, 224);
  margin: 0 14px;
}

.vite {
  color: #9234d1;
}

.reactRouter {
  color: #ce2650;
  margin: 0 14px;
}
