#root {
  /* max-width: 1280px; */
  display: flex;
  flex-direction: column;

  margin: 0 auto;
  height: 100%;
  width: 100%;
}

.app {
  display: flex;
  width: 100%;
}

.contents {
  padding: 30px 50px;
  width: 100%;
}

/* .card button:hover {
  background-color: rgb(123, 23, 216)
} */
