nav {
  height: 100vh;
  min-width: 256px;
  position: relative;
  left: 0;
  border-right: 1px solid #5a5a5a;
}

nav div {
  display: flex;
  flex-direction: column;
  padding-top: 16px;
  padding-left: 28px;
  padding-right: 14px;
}

a {
  padding: 6px;
  border-radius: 5px;
  margin-bottom: 6px;
}

a:hover {
  background-color: #646cff46;
}
